*.o
*.mod
2026*
CRD.DAT
DNS.DAT
ENE.DAT
FRC.DAT
VLC.DAT
avrho.*
caps.dat
clps.dat
cps.dat
g98.orb.inp
hps.dat
mnps.dat
nps.dat
ops.dat
link.dat
machines
oep_locx.f
oep_yw_uhf.f
oep_scf.f
ext_routines.f

